dist
dist-*
build
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.etlas-sandbox/
etlas.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.gradle/
cabal.project.local
cabal.project.local~
*.local.*
.HTF/
.eta.environment.*
*.class
*.classpath
*.settings
*.project
bin
lib
